exportPattern("^[[:alpha:]]+")
import(graphics)
import(TTR)
import(zoo)
import(fftw)
import(signal)
importFrom("utils", "data")
importFrom("signal", "filter")
importFrom("signal", "poly")
importFrom("stats", "fft")
importFrom("stats", "na.omit")
importFrom("stats", "sd")
